.wordCard-wrap {
	height: 40px !important;
}

.wordCard-word {
	font-size: 24px !important;
}

.wordCard-pronounce {
	font-size: 10px !important;
	margin-bottom: 10px !important;
}

.wordCard-def {
	font-size: 12px !important;
}

.wordCard-delete {
	font-size: 16px !important;
}
